/* reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
}
/* general */
:root {
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* details */
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.navigation,
.links,
.contacts {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}
.logo-special {
  color: #000000;
}
.links-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.nav-link,
.contacts-link {
  padding: 31px 0;
  display: block;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link {
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: var(--second-color);
  margin-right: 10px;
  vertical-align: middle;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover .icon,
.contacts-link:hover .icon,
.nav-link:focus .icon,
.contacts-link:focus .icon,
.nav-link:hover,
.contacts-link:hover,
.nav-link:focus,
.contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.links-item {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.current {
  color: var(--accent-color);
}

.navigation {
  align-items: center;
}
.hero {
  padding: 200px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img-decor/hero-cover.jpg);
  background-color: #2f303a;
  text-align: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-btn {
  padding: 10px 32px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin: 0 auto;
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: #188ce8;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
.pref {
  display: flex;
  margin-right: -30px;
}
.pref-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.pref-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-color);
}
.pref-descript {
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.section-modified {
  padding-bottom: 0;
}
.sect-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.works {
  display: flex;
  margin-right: -30px;
}
.work-item {
  position: relative;
  height: 294px;
}
.examples {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}
.label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}
.special-bgc {
  background-color: #f5f4fa;
}
.team {
  display: flex;
  margin-right: -30px;
}
.team-item {
  background-color: #ffffff;
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-subscribe {
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 19px;
  color: var(--second-color);
  margin-bottom: 16px;
}
.social-links {
  display: flex;
  justify-content: center;
  margin-right: -10px;
}
.social-links > li {
  margin-right: 10px;
}
.social-links > li:last-of-type {
  margin-right: 0px;
}
.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-link-item,
.social-list-link:focus .social-link-item {
  fill: var(--white-color);
}

.customers {
  display: flex;
  justify-content: space-between;
}
.customer-list {
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
}
.customer-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-item {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.customer-link:hover .customer-item,
.customer-link:focus .customer-item {
  fill: var(--accent-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.logo-white {
  color: var(--white-color);
}
.address {
  padding-top: 20px;
}
.address-item {
  line-height: 171%;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
}
.street {
  font-style: normal;
}
.street-link {
  color: var(--white-color);
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover {
  color: var(--accent-color);
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.contact-us {
  margin-right: 70px;
}
.join-us {
  margin-right: 93px;
}
.join-header {
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  margin-right: -10px;
}
.footer-social-links > li {
  margin-right: 10px;
}
.footer-social-links>li:last-child {
  margin-right: 0;
}
.footer-social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-item {
  fill: var(--white-color);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}
.footer-form {
  display: flex;
  justify-content: center;
}
.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-right: 12px;
}
.footer-subscribe-button {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color) ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding-left: 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-button:focus, .footer-subscribe-button:hover {
  background-color: #188CE8;
  outline: none;
}
.send-btn-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

/* Portfolio style */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item-list {
  margin-right: 8px;
}
.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item-list:last-of-type {
  margin-right: 0;
}
.filter-item:hover,
.filter-item:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat (3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px; */
}
.projects-list {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.project-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:focus,
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-subscribe {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--main-color);
  padding-bottom: 4px;
}
.project-type {
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.project-descript {
  display: none;
}
.project-card-item {
  /* height: 294px; */
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:focus .overlay,
.project-card:hover .overlay {
  transform: translateY(0%);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* transform: scale(100%); */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
  /* transform: scale(0%); */
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.modal {
  height: 580px;
  width: 530px;
  position: absolute;
  background-color: var(--white-color);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  fill: var(--main-color);
}
.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--second-color);
  
}
.modal-input-wrapper {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
  }
.modal-input {
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal-input:focus, .modal-input:valid {
  border-color: var(--accent-color);
  outline: none;

}
.modal-input:focus,
.modal-input:valid + .input-field-icon {
  fill: var(--accent-color);
}
.modal-input:focus + .input-field-icon {
  fill: var(--accent-color);
  
}
.input-field-icon {
  position: absolute;
  display: block;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-message:focus {
border-color: var(--accent-color);
outline: none;
}
.customer-message::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.user-agreement-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.user-agreement-visual-box {
  margin-right: 7px;
  margin-left: 13px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox:checked + .user-agreement-visual-box {
  display: inline-block;
  border: 2px solid var(--accent-color);
}
.checkbox:focus + .user-agreement-visual-box {
  border: 2px solid var(--accent-color);
}
.checkbox-icon {
  display: block;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + * .checkbox-icon {
  opacity: 1;
  background-color: var(--accent-color);
}
/* .user-agrrement-label::before {
  margin-right: 7px;
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
}
.checkbox:checked + .user-agrrement-label::before {
  background-image: url('../img-decor/checked.svg');
  background-color: var(--accent-color);
  border: none;
}
.checkbox:focus + .user-agrrement-label::before {
  border: 2px solid var(--accent-color);
} */
.user-agreement-link,
.user-agreement-link:visited {
  text-decoration-line: underline;
  color: var(--accent-color);
}
.user-agreement-link:focus {
  outline: none;
  text-decoration: none;
}
.submit-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:focus, .submit-btn:hover {
  outline: none;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}