.navigation,
.links,
.contacts {
    display: flex;
}

.navigation {
    align-items: center;
}
.nav-link,
.contacts-link {
    padding: 31px 0;
    display: block;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus,
    &:hover .icon,
    &:focus .icon{
        color: var(--accent-color);
        fill: var(--accent-color);
    }

}

.contacts-link {
    color: var(--second-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: var(--second-color);
    margin-right: 10px;
    vertical-align: middle;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item+.contacts-item {
    margin-left: 50px;
}

.links-item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}